<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIXIOIQy08vXCBvhKIczEnCDx0QMeT2Xs&sensor=true"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="fpa">
    <ion-pane ng-controller="FpaCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">New York Times - FPA</h1>
      </ion-header-bar>
      <ion-tabs class=" tabs-top tabs-icon-left">
        <ion-tab title="Search Routes" ng-controller="FpaSearchCtrl">
          <ion-view>
            <ion-content>
              <div class="list">
                <label class="item item-input item-select item-state">
                  <div class="input-label">
                    State
                  </div>
                  <select
                    ng-options="currentState.lookupCode as currentState.description for currentState in lov_state"
                    ng-model="state" name="stateSelect" id="stateSelect">
                  </select>
                </label>
                <label class="item item-input item-select item-city">
                  <div class="input-label">
                    City
                  </div>
                  <select ng-model="city">
                    <option value="New_York">New York</option>
                    <option value="Pittsburgh" selected>Pittsburgh</option>
                    <option value="Boston">Boston</option>
                    <option value="Atlant">Atlanta</option>
                  </select>
                </label>

                <label class="item item-input item-select item-route">
                  <div class="input-label">
                    Route
                  </div>
                  <select>
                    <option value="1234">1234</option>
                    <option value="4567" selected>4567</option>
                    <option value="7890">7890</option>
                    <option value="1357">1357</option>
                  </select>
                </label>
              </div>

              <div>
                <button class="button button-block" ng-click="searchRoutes();" type="submit">
                  Search Routes
                </button>

              </div>
            </ion-content>
          </ion-view>
        </ion-tab>
        <ion-tab title="Listings" ng-controller="FpaListingCtrl">
          <ion-view>
            <ion-content>

            </ion-content>
          </ion-view>
        </ion-tab>
        <ion-tab title="Map" ng-controller="FpaMapCtrl" on-select="showMap()">
          <ion-view>
            <ion-content>
              <div id="map" data-tap-disabled="true"></div>
            </ion-content>
          </ion-view>
        </ion-tab>
      </ion-tabs>
    </ion-pane>
  </body>
</html>
